.Navbar {
  color: #fff;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.inputElementsContainer {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  padding: 10px;
}

.inputElement {
  display: flex;
}

