@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');
.navbar {
  font-family: 'Roboto', sans-serif;
  display: flex;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.2),
    -9px -9px 16px rgba(255, 255, 255, 0.3);
  height: 100%;
  padding: 10px 0;
}
.navbar-logo {
  display: flex;
  color: rgb(15, 14, 14) !important;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}
.navbar-logo img {
  display: flex;
  color: rgb(15, 14, 14) !important;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}
.navbar-children {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navbar-children a {
  padding: 10px;
  text-decoration: none;
}
.navbar-children a:visited {
  color: rgb(15, 14, 14);
}

.inputsDisplayContainer {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}
.previewDisplayContainer {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

.centerpage {
  border: 1px solid green;
  display: flex;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.2),
    -9px -9px 16px rgba(255, 255, 255, 0.3) !important;
}
.centerpage div {
  display: flex;
  padding: 10px;
  height: 100%;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 80vh;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.2),
    -9px -9px 16px rgba(255, 255, 255, 0.3) !important;
}
.login-welcome {
  padding: 10px;
}
.login-btn {
  padding: 20px;
}

.inputElementsContainer {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  padding: 10px;
}

.inputElement {
  display: flex;
}
